@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}


body{
    margin:0;
    font-family: "Roboto", sans-serif;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #D5C7F9;
    width: 100%;
    position: fixed;
}

.logo {
    flex: 20%;
    margin-left: 10%;
    text-align: left;
}

.logo h1 {
    font-family: "Merriweather", serif;
    color: #1C1B9D;
    font-size: 30px;
}

.menu {
    flex: 70%;
    text-align: right;
    padding: 25px;
}

.menu a {
    color: #1C1B9D;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
}

.menu a:hover {
    color:#F7C344 ;
    border-top: 3px solid #1C1B9D#1C1B9D; 
}

#inscricao {
    padding: 10px 25px;
    border-radius: 5%;
    background-color: #1C1B9D;
    color: white;
    margin-right: 10%;
    margin-left: 5%

}

#inscricao:hover{
    background-color: #f1c533;
    color: #1C1B9D;
    border: none;
}

.header{
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.headline{
    margin-left: 10%;
    flex: 40%;
    /* border: 1px solid black; */
}

.headline h2 {
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.texto-menor {
    letter-spacing: 10px;  
    
    color: #1C1B9D;
    font-size: 20px;
}

.texto-maior{
    font-size: 60px;
    color: #F7C344; 
}

.headline p {
    color: #1C1B9D;
    text-align: left;
}

.saiba-mais{
    display: inline-block;
    background-color: #1C1B9D;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 5px;
}

.saiba-mais:hover{
    background-color: #f1c533;
    color: #1C1B9D;
}


.img-headline{
    margin-right: 10%;
    flex: 40%;
    /* border: solid 1px black; */
    text-align: center;
}

.img-headline img{
    max-width: 90%;
}

section{
    display: inline-block;
    margin-top: 40px;
    /* width: 90% ; */
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
    
}

section h2{
    font-size: 30px;
    font-family: "Merriweather", serif;
    font-weight: bold;
    color: #1C1B9D;
    width: 100%;
    margin: 0;
}

.servicos{
    display: inline-block;
    margin-top: 40px;
}

.card{
    display:inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 2px solid #1C1B9D;
    border-radius: 10px;
    cursor: pointer;
}

.card img {
    width: 20%;
}

.hide-text{
    display: none;
}

.card:hover{
    background-color: #D5C7F9;
    padding: 40px;
}

.card:hover img{
    display: none;
}

.card:hover .main-text{
    display: none;
}

.card:hover .hide-text{
    display: block;
}

footer{
    margin-top: 100px;
    height: 200px;
    background-color:#1C1B9D ;
    text-align: center;
    border-top: 5px solid #f1c533     

}

.rodape{
    padding: 20px;
}

.text-rodape{
    font-family: "Merriweather", serif;
    color:#D5C7F9;
    font-size: 30px;
}

.rodape p{
    color:#D5C7F9;;
}

.contato{
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 150px;
}

.contato:hover{
    width: 160px;
}