@media screen and (max-width:1000px){
    .logo{
        text-align: center;
        margin: 0;
    }

    .menu{
        display: none;
    }

    .navbar{
        position: relative;
    }

    .header{
        padding: 50px;
    }

    .headline{
        flex: 100%;
        text-align: center;
        margin: 5%;
    }

    .headline p{
        text-align: center;
    }

    .img-headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .card{
        width: 100%;
    }

    .contato{
        display: none;
    }
}